**.idea
**.vscode
**/hello_world
**/main
**/*.o
**/build
**/.venv
**/__pycache__
**/.internal
**/build
**.externalToolBuilders
**.DS_Store
**Thumbs.db
**.lock-wscript
***.pyc
**.cproject
**builtins
**debug.keystore
**debug.keystore.pass.txt
**manifest.private.der
**manifest.public.der
!08-throw_a_bird/*/main
